*{
    margin: 0;
    padding: 0;
}
body{
   
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

/* shared styles  */
.display-flex{
    display: flex;
}






/* nav styles  */
.nav-container{
    max-width: 1160px;
    justify-content:space-between ; 
    align-items: center;
    margin: 2rem auto;
    border: 1px solid red;
}
.nav-logo{
    align-items: center;
    gap: 1.5rem;
}
ul > li {
    list-style: none;
    margin-left: 32px;
}

ul > li >a {
    text-decoration: none;
}
.btn-contact{
    padding: 0.60rem 3.75rem;
    background: #FEA301;
    border: none;
    border-radius: 1rem;
}


/* banner styles  */